<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ詳細画面</title>
	<script type="/admin/contacts/{id}(id= ${detail.id})"></script>
</head>

<body>
	<form th:action="@{/admin/contacts/{id}}" th:object="${adminContactDetail}" method="post">
		<table border="1">

			<tr th:each="detail : ${detail}">
				<th>お問い合わせID</th>
				<td th:text="${detail}"></td>
			</tr>
			
			<tr th:each="detail : ${detail}">
				<th>姓</th>
<!--				<td th:text="${detail.lastName}"></td>-->
			</tr>
			
			<tr>
				<th>名</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>メールアドレス</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>電話番号</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>郵便番号</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>住所</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>建物名</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>お問い合わせ種別</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>内容</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>作成日時</th>
				<td>test</td>
			</tr>
			
			<tr>
				<th>更新日時</th>
				<td>test</td>
			</tr>



		</table>

	</form>





</body>

</html>