<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせ編集画面</title>
<!--<script type="/admin/contacts/{id}/edit(id= ${edit.id})"></script>-->
</head>
<body>
<h2>お問い合わせ編集画面</h2>
<form th:action = "@{/admin/contacts/{id}/edit}" th:object="${contactForm}" method="post">
	<table border="1">
		
		
		<tr>
			<td><label for="lastName">姓</label></td>
			<td><input type="text" th:field="*{lastName}"/></td>
		</tr>
			
			
		<tr>
			<td><label for="firstName">名</label></td>
			<td><input type="text" th:field="*{firstName}"/></td>
		</tr>
	
			
		<tr>
			<td><label for="email">メールアドレス</label></td>
			<td><input type="email" th:field="*{email}"/></td>
		</tr>
		
			
		<tr>
			<td><label for="phone">電話番号</label></td>
			<td><input type="tel" th:field="*{phone}"/></td>
		</tr>
		
			
		<tr>
			<td><label for="zipCode">郵便番号</label></td>
			<td><input type="text" th:field="*{zipCode}"/></td>
		</tr>
	
	
		<tr>
			<td><label for="address">住所</label></td>
			<td><input type="text" th:field="*{address}"/></td>
		</tr>
		
		<tr>
			<td><label for="buildingName">建物名</label></td>
			<td><input type="text" th:field="*{buildingName}"/></td>
		</tr>
		
		<tr>
			<td><label for="contactType">お問い合わせ種別</label></td>
			<td>
					<select name="contactType">
						<option th:value="services">サービスに関するお問い合わせ</option>
						<option th:value="technicalQuestions">技術的なお問い合わせ</option>
						<option th:value="others">その他</option>
					</select>
					<span th:if="${#fields.hasErrors('contactType')}" th:errors="*{contactType}" style="color:red"></span>
				</td>
		</tr>
		
		<tr>
			<td><label for="body">内容</label></td>
			<td><input type="text" th:field="*{body}"/></td>
		</tr>
	
		</table>

		
				<form th:action="@{/admin/contacts/{id}}" th:method="post" onsubmit="return confirm('本当に保存しますか？');">
				<button type ="submit">保存</button>
					</form>
					
	
		
</form>





</body>
</html>