<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ一覧</title>
	<script type="/admin/contacts"></script>
</head>

<body>

	<form th:action="@{/admin/contacts}" th:object="${adminContactList}" method="post">

		<table border="1">
			<tr>
				<td>お問い合わせID</td>
				<td>姓</td>
				<td>名</td>
				<td>お問い合わせ種別</td>
				<td>作成日時</td>
				<td>更新日時</td>
			</tr>
			
			<tr th:each="list : ${list}">
				<td><a th:href="@{/admin/contacts/{id}(id=${list.id})}" th:text="${list.id}"></a></td>
				<td th:text="${list.lastName}"></td>
				<td th:text="${list.firstName}"></td>
				<td th:text="${list.contactType}"></td>
				<td th:text="${#temporals.format(list.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
				<td th:text="${#temporals.format(list.updatedAt, 'yyyy/MM/dd HH:mm')}"></td>
				<td>
					<form th:action="@{/admin/contacts/{id}(id=${list.id})}" th:method="delete"
						onsubmit="return confirm('本当に削除しますか？');">
						<button type="submit" class="btn btn-danger">削除</button>
					</form>
				</td>
			</tr>
		</table>

		<div th:if="${successMessage}">
			<p th:text="${successMessage}"></p>
			<div th:if="${errorMessage}">
				<p th:text="${errorMessage}"></p>
			</div>
	</form>
	<form th:action="@{/admin/contacts/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
</body>

</html>